   .kettu_main_shape, .kettu_inner_shape_0, .kettu_inner_shape_1, .kettu_around_eye_r, .kettu_ear_r, .kettu_eye_r, .kettu_around_nose, .kettu_nose, .kettu_around_eye_l, .kettu_eye_l, .kettu_inner_white_shape, .kettu_ear_l, .kettu_white_fur_l, .kettu_white_fur_r{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw_shape 20s linear alternate;
    animation-fill-mode: forwards;
    -webkit-animation: draw_shape 20s linear alternate;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes draw_shape {
    0% {
        stroke:black;
        stroke-dashoffset: 1600;
        fill-opacity: 0;
    }
    50% {
        stroke:black;
        stroke-dashoffset: 0;
        fill-opacity:0;
    }
    75% {
        stroke-dashoffset: 0;
        fill-opacity:.5;
    }
    100% {
        stroke-dashoffset: 0;
        fill-opacity:1;
    }
  } 

@keyframes draw_shape {
    0% {
        stroke:black;
        stroke-dashoffset: 1600;
        fill-opacity: 0;
    }
    50% {
        stroke:black;
        stroke-dashoffset: 0;
        fill-opacity:0;
    }
    75% {
        stroke-dashoffset: 0;
        fill-opacity:.5;
    }
    100% {
        stroke-dashoffset: 0;
        fill-opacity:1;
    }
  } 
