<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div id="content">
            <div class="header"><h1 class="title">{{ .Title }}</h1></div>

            {{- partial "sidebar.html" . -}}


            <div class="container">
                <button class="btn float-end kettu_btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                    <i data-feather="menu"></i>
                </button>
            {{ range .Pages.ByPublishDate.Reverse }}
            <div class="row">
            <div class="d-flex p-3">
                <div class="col-6 col-md-4">
                    <a class="summary" href="{{ .RelPermalink }}"><img class="flex-shrink-0 me-3 kettu-thumbnail" src="{{ with .Params.thumbnail }}{{ . }}{{ end }}" alt="{{ .Title }}"></a>
                  </div>
                  <div class="col-md-8">
                    <h5 class="fw-bold"><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                  <p>{{ .Summary }}</p>
                  <small class="text-muted">{{ partial "metadata.html" . }}</small>
                  </div>
              </div>
              </div>
            {{ end }}
        </div>
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "script.html" . -}}
    </body>
</html>
